body.dark_mode_off .dark_mode_toggle a { 
    background-image: url(moon-solid.svg); background-size: 12px; 
}
.dark_mode_toggle a { 
    background-image: url(sun-solid.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
    width: 12px;
    height: 12px;
    padding: 14px 12px 12px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    user-select: none;
    text-indent: 28px;
    overflow: hidden;
    white-space: nowrap;
}

:root { 
    --darkest_dark: #0f1c26; 
    --darker_dark: #172b3b; 
    --dark: #233645; 
    --brighter_dark: #294153; 
    --brightest_dark: #2e485d; 
    
    --color_brightest: #d3d5d7;
    --color_brighter: #9fa4a8;
    --color: #939393;
    --color_darker: #c7c7c7;
    
    --color_link: #d3d5d7;
    
    --border_brighter: 1px solid #707c85;
    --border: 1px solid #3a454d;
    --border_darker: 1px solid #333;

    --transparency: rgba(255, 255, 255, 0.7) !important;
}

body:not(.dark_mode_off) { background-color: var(--darkest_dark); color: var(--color_brightest); 
    #container, header .inner { border: var(--border_darker); border-top: 0; border-bottom: 0; }
    #left .version {background-color: transparent; }
    #main { background-color: var(--darker_dark); 
        .maintenance_active, .maintenance_inactive,.tl_folder_tlist { border-top:var(--border);}
        h1, h2, h3, h4, h5, h6, strong, b, th, p, li { color: var(--color_brightest); }
        h1, h2, h3, h4, h5, h6, strong, b, th, .tl_content_header { font-weight: 400; }
        a { color: var(--color_link) !important; }    
        
        fieldset.tl_tbox>legend, fieldset.tl_box>legend { color: var(--color); }
        
        select, button, textarea, button .tl_submit, input, .tl_select, .chzn-choices, #ctrl_templates_chzn, a.tl_submit, .ace-clouds .ace_gutter, #ctrl_head_div, .ace_scroller { 
            background-color: var(--172b3b); color: var(--color_brightest); border: var(--border_brighter);
            a, li { color: var(--darkest_dark); }
        }
        
        .mce-container {
            select, button, textarea, button .tl_submit, input, .tl_select, .chzn-choices, #ctrl_templates_chzn, a.tl_submit, .ace-clouds .ace_gutter, #ctrl_head_div, .ace_scroller { border: 0; }
        }

        button.drag-handle { background: transparent; border: 0; }
        .tl_modulewizard, .tl_sectionwizard, .sortable { 
            button { border: 0; }
        }
        .tl_img_submit {  border: 0; }
        
        th { background: var(--dark); border: var(--border); border-right: 0; border-left: 0; }
        .tl_file, tr td { background-color: var(--darker_dark); background-image: none; border-bottom: var(--border); }
        .tl_folder_top, tr.odd td   { background-color: var(--dark); border: var(--border); border-right: 0; border-left: 0; }
        .tl_folder, .tl_content_header,  tr.even td, tr:nth-child(even) td, .tl_metawizard li { background: var(--brighter_dark); border-bottom: var(--border); }
        .parent .tl_folder { background-color: var(--dark); }
        .hover-row:hover td, .hover-div:hover { background-color: var(--darkest_dark) !important; }

        .chzn-container-multi .chzn-choices .search-field input { background-color: var(--transparency) !important; }
        .content { background-color: var(--darker_dark); border: var(--border);
            .tl_panel { background-color: var(--dark); border-bottom: var(--border);
                select, input  { background-color: var(--transparency); color: var(--darkest_dark); }
                #filter, #filter_reset { background-color: transparent; }
                .tl_submit_panel.tl_subpanel button { border: 0; }
            }                
            .tl_listing_container {
                &.parent_view {
                    & > ul { background-color: var(--dark); }
                }
                .tl_header { background-color: var(--darker_dark); border: var(--border); border-right: 0; border-left: 0;
                    .tl_label { font-weight: 400 !important; }
                    td { background-color: transparent !important; border: 0; }
                }
                //**** MetaModels - begin ***//
                #tl_breadcrumb { background: var(--dark); border: var(--border); }
                //**** MetaModels - end ***//
            }
            .tl_content { 
                background-color: var(--darker_dark); 
                background-image: var(--darker_dark); 
                border-bottom: var(--border); 
                &:hover .limit_toggler { background-color: var(--dark) !important; }
                .limit_toggler         { background-color: var(--dark); 
                    button { background-color: var(--darker_dark); 
                        span { color: var(--color_brightest); }
                    }
                }
                &.tl_content.wrapper_stop { border-top: var(--border); }
            }
            .tl_version_panel, .tl_message .tl_info { background-color: var(--darker_dark); border-bottom: var(--border); }
            .tl_formbody_edit { border-top: var(--border_brighter); 
                .tl_box, .tl_tbox { border-bottom: var(--border_brighter); }
            }
            .tl_formbody_submit { border-top: var(--border_brighter);
                .tl_submit_container { background-color: var(--dark); }
            }
            #tl_soverview {
                #tl_messages, #tl_shortcuts { border-bottom: var(--border); }
                .tl_listing tr.odd td { background-color: var(--dark); border-bottom: var(--border); }
                .tl_listing tr.hover-row:hover td { background-color: var(--darkest_dark) !important; }
                .pagination { background: var(--dark); border: var(--border); border-right: 0; border-left: 0; }
            }
            #tl_layout #pal_modules_legend .sortable button { background: transparent; }
            #picker-menu li { background-color: var(--brighter_dark);
                &.current { background-color: var(--dark); }
            }
            .tl_error { background-color: #431919; }
            .tl_info { background-color: var(--darkest_dark); }
            //********************************************** ContaoMonitoring/bundle-all - begin **********************************************//
            .legend-element-container { background: var(--dark); border: var(--border); 
                &.hidden { background: var(--brighter_dark); }
            }
            //********************************************** ContaoMonitoring/bundle-all - end **********************************************//
            //********************************************** terminal42/contao-url-rewrite - begin **********************************************//
            #pal_examples_legend.tl_box pre { background: var(--darkest_dark) !important;}
            //********************************************** terminal42/contao-url-rewrite - end **********************************************//
        }
        //********************************************** TINY MCE - begin **********************************************\\
        .tox-tinymce { 
            .tox-menubar, .tox-toolbar-overlord, .tox-statusbar { background-color: var(--transparency) !important; }
            .tox-mbtn, .tox-tbtn, .tox-toolbar, .tox-toolbar__primary { background: transparent !important; }
            .tox-toolbar__primary { border-bottom: 1px solid #eee; }
            iframe { background-color: var(--transparency); }
            button { color: var(--dark); border: 0; }
        }
        //********************************************** TINY MCE - end **********************************************\\
        //********************************************** styleManager - begin **********************************************\\
        .stylemanager.widget {
            .tab-container {
                & > label { background: var(--darkest_dark); border: var(--border); }
                [id^=nav-]:checked + label { background: none; border: var(--border); }
                .tab-content { background: none; border: var(--border); }
                .long.desc { color: var(--color_brightest); }
            }
        }
        //********************************************** styleManager - end **********************************************\\
    }
    //********************************************** MODAL **********************************************\\
    .simple-modal { background: var(--brighter_dark); 
        .simple-modal-header, .simple-modal-footer { background: var(--brighter_dark);
            h1 { color: var(--color_brightest); }
            .btn { background-color: var(--transparency); color: var(--darkest_dark); }
        }
        .simple-modal-body {
            .contents { background: var(--darkest_dark); }
        }
    }
}